html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
}

#googleMap {
  height: 100%;
  width: 100%;
  /*background-color: #ccc;*/
}

.list {
  position: absolute;
	top: 70px;
  border-radius: 2px;
	z-index: 1;
  right: 10px;
  max-height: 399px;
  width: 225px;
  padding: 0;
  color: #000;
  background: #fff;
  overflow: auto;
  transition: transform 0.5s ease;
}

form {
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
}

.search {
  margin: 0;
  padding: 0;
  border-radius: 2px;
  background: #fff;
}

.box-shadow {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.places {
  margin: 0;
  padding: 0;
}

.place {
  padding: 15px;
  font-size: 0.8em;
  border-bottom: 1px solid #ddd;
}
